body {
    
    justify-content: center;
    background-image: url("https://i.imgur.com/TcflNzV.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    font-family: sans-serif;
	font-size: 16px;
	margin: 0;
    min-height: 100vh;

}
#dealer {
    justify-content: center;
    grid-column: -1;
    grid-row: 3;
    color: red;
    
}
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;

}
button {
	border-radius: 4px;
	text-align: center;
	margin-bottom: 40px;
    font-size: 12px ;
}
#chip {
    color: red;
    font-weight: bolder;
}
#bet, #wallet{
    
    font-size: 15px ;
}
#btn{
    background-color: green;
    margin: 9px;
}
#stay{
    background-color: grey;
    margin: 9px;
}
#hit {
    background: rgba(250,90,90,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250,90,90,1)), to(rgba(232,81,81,1)));
	background: -webkit-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
}
#betChips {
    display: flex;
    background-color: greenyellow;
    justify-content: center;
}
#playerMessage{
font-size: 40px;
font-weight: bolder;
color: red;
font-style: italic;
}
h2{
    color: orangered;
    font-weight: bolder;
}
.playerWallet {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.betArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    padding: 1px;
} 
.gambling {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    justify-content: space-around;
    border: 1px solid green;
    font-size: 12px;
    color: red;
}
.playerBet {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    font-size: 12;
    color: red;
}
#chip {
    font-size: 12px;
}
 


 
